.contacts{
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap:24px; 
    @media (max-width: 768px){
        padding: 24px;
        
    }
    &__item{
        display: flex;
    }
    &__icon{
        width: 20px;
        margin-right: 8px;
    }
}

.social-icons{
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 8px;
        background-color: $gold;

    }
}