.navbar{
    a.nav-link{
            color: $white;
            &:hover{
                color: $white;
            }
    }
}
.btn-primary-mob{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $gold;
}
span.burger{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grey-dark;
    box-shadow: 0px 4px 16px rgba(189, 191, 194, 0.24);
}
.custom-toggler{
    border: none;
    outline: none;
    &:focus, &:active{
        outline: none;
        box-shadow: none;
    }
}
#navbarSupportedContent{
    @media screen and (max-width: $mobile){
        position: absolute;
        height: fit-content;
        z-index: 2;
        width: 100%;
        top: 100px;
        left: 0;
        background-color: $black;
        padding: 24px; 
    }
   
}